<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modes</key>
	<dict>
		<key>distanceBasedModes</key>
		<array>
			<string>WALK</string>
			<string>BICYCLE</string>
			<string>CAR</string>
		</array>
		<key>stopBasedModes</key>
		<array>
			<string>TRAM</string>
			<string>SUBWAY</string>
			<string>RAIL</string>
			<string>BUS</string>
			<string>FERRY</string>
			<string>CABLE_CAR</string>
			<string>GONDOLA</string>
			<string>FUNICULAR</string>
		</array>
		<key>transferBasedModes</key>
		<array>
			<string>TRANSFER</string>
		</array>
	</dict>
	<key>modeIcons</key>
	<dict>
		<key>WALK</key>
		<string>walk_32.png</string>
		<key>BICYCLE</key>
		<string>bike_32.png</string>
		<key>CAR</key>
		<string>car_32.png</string>
    	<key>TRAM</key>
    	<string>cable-car_32.png</string>
    	<key>SUBWAY</key>
    	<string>train_32.png</string>
    	<key>RAIL</key>
    	<string>train_32.png</string>
    	<key>BUS</key>
    	<string>bus_32.png</string>
    	<key>FERRY</key>
    	<string>ferry_32.png</string>
    	<key>CABLE_CAR</key>
    	<string>cable-car_32.png</string>
    	<key>GONDOLA</key>
    	<string>gondola_32.png</string>
    	<key>TRANSFER</key>
    	<string>transfer_32.png</string>
    	<key>FUNICULAR</key>
    	<string>funicular_32.png</string>
	</dict>
	<key>modeDisplayStrings</key>
	<dict>
		<key>WALK</key>
		<string>Walk</string>
		<key>BICYCLE</key>
		<string>Bike</string>
		<key>CAR</key>
		<string>Drive</string>
    	<key>TRAM</key>
    	<string>Tram</string>
    	<key>SUBWAY</key>
    	<string>Subway</string>
    	<key>RAIL</key>
    	<string>Train</string>
    	<key>BUS</key>
    	<string>Bus</string>
    	<key>FERRY</key>
    	<string>Ferry</string>
    	<key>CABLE_CAR</key>
    	<string>Cable Car</string>
    	<key>GONDOLA</key>
    	<string>Gondola</string>
    	<key>TRANSFER</key>
    	<string>Transfer</string>
    	<key>FUNICULAR</key>
    	<string>Funicular</string>
	</dict>
	<key>relativeDirectionIcons</key>
	<dict>
		<key>HARD_LEFT</key>
		<string>hard-left_32.png</string>
    	<key>LEFT</key>
    	<string>hard-left_32.png</string>
    	<key>SLIGHTLY_LEFT</key>
    	<string>slight-left_32.png</string>
    	<key>CONTINUE</key>
    	<string>continue_32.png</string>
    	<key>SLIGHTLY_RIGHT</key>
    	<string>slight-right_32.png</string>
    	<key>RIGHT</key>
    	<string>hard-right_32.png</string>
    	<key>HARD_RIGHT</key>
    	<string>hard-right_32.png</string>
    	<key>CIRCLE_CLOCKWISE</key>
    	<string>clockwise_32.png</string>
    	<key>CIRCLE_COUNTERCLOCKWISE</key>
    	<string>counterclockwise_32.png</string>
    	<key>ELEVATOR</key>
    	<string>elevator_32.png</string>
	</dict>
	<key>relativeDirectionDisplayStrings</key>
	<dict>
		<key>HARD_LEFT</key>
		<string>Hard left</string>
    	<key>LEFT</key>
    	<string>Left</string>
    	<key>SLIGHTLY_LEFT</key>
    	<string>Slight left</string>
    	<key>CONTINUE</key>
    	<string>Continue</string>
    	<key>SLIGHTLY_RIGHT</key>
    	<string>Slight right</string>
    	<key>RIGHT</key>
    	<string>Right</string>
    	<key>HARD_RIGHT</key>
    	<string>Hard right</string>
    	<key>CIRCLE_CLOCKWISE</key>
    	<string>Circle clockwise</string>
    	<key>CIRCLE_COUNTERCLOCKWISE</key>
    	<string>Circle counterclockwise</string>
    	<key>ELEVATOR</key>
    	<string>Elevator</string>
	</dict>
	<key>absoluteDirectionDisplayStrings</key>
	<dict>
		<key>NORTH</key>
		<string>North</string>
    	<key>NORTHEAST</key>
    	<string>Northeast</string>
    	<key>EAST</key>
    	<string>East</string>
    	<key>SOUTHEAST</key>
    	<string>Southeast</string>
    	<key>SOUTH</key>
    	<string>South</string>
    	<key>SOUTHWEST</key>
    	<string>Southwest</string>
    	<key>WEST</key>
    	<string>West</string>
    	<key>NORTHWEST</key>
    	<string>Northwest</string>
	</dict>
	<key>popupModeIcons</key>
	<dict>
		<key>WALK</key>
		<string>popup-walk.png</string>
		<key>BICYCLE</key>
		<string>popup-bike.png</string>
		<key>CAR</key>
		<string>popup-car.png</string>
		<key>TRAM</key>
		<string>popup-cable-car.png</string>
		<key>SUBWAY</key>
		<string>popup-train.png</string>
		<key>RAIL</key>
		<string>popup-train.png</string>
		<key>BUS</key>
		<string>popup-bus.png</string>
		<key>FERRY</key>
		<string>popup-ferry.png</string>
		<key>CABLE_CAR</key>
		<string>popup-cable-car.png</string>
		<key>GONDOLA</key>
		<string>popup-gondola.png</string>
		<key>TRANSFER</key>
		<string>popup-transfer.png</string>
		<key>FUNICULAR</key>
		<string>popup-funicular.png</string>
	</dict>
</dict>
</plist>
